@import "src/app/shared/styles/mixins";
@import "src/app/shared/styles/variables";


:host {
  @include host-container;
}

.words-count {
  display: flex;
  width: 100%;
  padding: 1rem 0;
  flex-direction: column;
  border: .2rem solid;
  border-radius: .5rem;
  font-size: 1.6rem;

  span {
    width: 100%;
    text-align: center;
  }
}
