@import "~@angular/material/theming";


$blue-primary-palette: (
  50: #f4f6fb,
  100: #e4e8f6,
  200: #d3d8f0,
  300: #c1c8ea,
  400: #b3bde6,
  500: #a6b1e1,
  600: #9eaadd,
  700: #95a1d9,
  800: #8b98d5,
  900: #7b88cd,
  A100: #424874,
  A200: #424874,
  A400: #424874,
  A700: #424874,

  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #424874,
    A200: #424874,
    A400: #424874,
    A700: #424874,
  )
);

$blue-accent-palette: ( 
  50: #fefdff,
  100: #fcfaff,
  200: #faf7ff,
  300: #f7f3ff,
  400: #f6f1ff,
  500: #f4eeff,
  600: #f3ecff,
  700: #f1e9ff,
  800: #efe7ff,
  900: #ece2ff,
  A100: #a6b1e1,
  A200: #a6b1e1,
  A400: #a6b1e1,
  A700: #a6b1e1,

  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #a6b1e1,
    A200: #a6b1e1,
    A400: #a6b1e1,
    A700: #a6b1e1,
  )
);

$light-blue-primary: mat-palette($blue-primary-palette);
$light-blue-accent: mat-palette($blue-accent-palette, A200, A100, A400);
$light-blue-warn: mat-palette($mat-red);

$light-blue-theme: mat-light-theme($light-blue-primary, $light-blue-accent, $light-blue-warn);
