@import "~@angular/material/theming";


$red-primary-palette: (
  50: #f8e3e3,
  100: #efbab8,
  200: #e48c89,
  300: #d95e59,
  400: #d03c36,
  500: #c81912,
  600: #c21610,
  700: #bb120d,
  800: #b40e0a,
  900: #a70805,
  A100: #42240c,
  A200: #42240c,
  A400: #42240c,
  A700: #42240c,

  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #42240c,
    A200: #42240c,
    A400: #42240c,
    A700: #42240c,
  )
);

$red-accent-palette: ( 
  50: #fff7f3,
  100: #feeae1,
  200: #feddcd,
  300: #fecfb8,
  400: #fdc4a9,
  500: #fdba9a,
  600: #fdb392,
  700: #fcab88,
  800: #fca37e,
  900: #fc946c,
  A100: #a70805,
  A200: #a70805,
  A400: #a70805,
  A700: #a70805,

  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #a70805,
    A200: #a70805,
    A400: #a70805,
    A700: #a70805,
  )
);

$light-red-primary: mat-palette($red-primary-palette);
$light-red-accent: mat-palette($red-accent-palette, A200, A100, A400);
$light-red-warn: mat-palette($mat-red);

$light-red-theme: mat-light-theme($light-red-primary, $light-red-accent, $light-red-warn);
