@import "~@angular/material/theming";


$purple-primary-palette: (
  50: #f7f3f9,
  100: #ebe0f0,
  200: #ddcce6,
  300: #cfb8dc,
  400: #c5a8d5,
  500: #bb99cd,
  600: #b591c8,
  700: #ac86c1,
  800: #a47cba,
  900: #966bae,
  A100: #3d1860,
  A200: #3d1860,
  A400: #3d1860,
  A700: #3d1860,

  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #ffffff,
    A100: #3d1860,
    A200: #3d1860,
    A400: #3d1860,
    A700: #3d1860,
  )
);

$purple-accent-palette: ( 
  50: #fefdfe,
  100: #fcfafd,
  200: #faf6fb,
  300: #f8f2f9,
  400: #f7f0f8,
  500: #f5edf7,
  600: #f4ebf6,
  700: #f2e8f5,
  800: #f0e5f3,
  900: #eee0f1,
  A100: #bb99cd,
  A200: #bb99cd,
  A400: #bb99cd,
  A700: #bb99cd,

  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #bb99cd,
    A200: #bb99cd,
    A400: #bb99cd,
    A700: #bb99cd,
  )
);

$light-purple-primary: mat-palette($purple-primary-palette);
$light-purple-accent: mat-palette($purple-accent-palette, A200, A100, A400);
$light-purple-warn: mat-palette($mat-red);

$light-purple-theme: mat-light-theme($light-purple-primary, $light-purple-accent, $light-purple-warn);
