@import "~@angular/material/theming";


$yellow-primary-palette: (
  50: #fcf6e9,
  100: #f7e7c9,
  200: #f1d8a5,
  300: #ebc881,
  400: #e7bc66,
  500: #e3b04b,
  600: #e0a944,
  700: #dca03b,
  800: #d89733,
  900: #d08723,
  A100: #7d7d7d,
  A200: #7d7d7d,
  A400: #7d7d7d,
  A700: #7d7d7d,

  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #7d7d7d,
    A200: #7d7d7d,
    A400: #7d7d7d,
    A700: #7d7d7d,
  )
);

$yellow-accent-palette: ( 
  50: #fefefe,
  100: #fdfdfd,
  200: #fcfcfc,
  300: #fafafa,
  400: #f9f9f9,
  500: #f8f8f8,
  600: #f7f7f7,
  700: #f6f6f6,
  800: #f5f5f5,
  900: #f3f3f3,
  A100: #d08723,
  A200: #d08723,
  A400: #d08723,
  A700: #d08723,

  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #d08723,
    A200: #d08723,
    A400: #d08723,
    A700: #d08723,
  )
);

$light-yellow-primary: mat-palette($yellow-primary-palette);
$light-yellow-accent: mat-palette($yellow-accent-palette, A200, A100, A400);
$light-yellow-warn: mat-palette($mat-red);

$light-yellow-theme: mat-light-theme($light-yellow-primary, $light-yellow-accent, $light-yellow-warn);
