@import "~@angular/material/theming";


$green-primary-palette: (
  50: #f9fcf7,
  100: #f0f9eb,
  200: #e6f5dd,
  300: #dbf0cf,
  400: #d4edc5,
  500: #cceabb,
  600: #c7e7b5,
  700: #c0e4ac,
  800: #b9e1a4,
  900: #addb96,
  A100: #3f3f44,
  A200: #3f3f44,
  A400: #3f3f44,
  A700: #3f3f44,

  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #3f3f44,
    A200: #3f3f44,
    A400: #3f3f44,
    A700: #3f3f44,
  )
);

$green-accent-palette: ( 
  50: #fefefe,
  100: #fdfdfd,
  200: #fbfbfb,
  300: #f9f9f9,
  400: #f8f8f8,
  500: #f7f7f7,
  600: #f6f6f6,
  700: #f5f5f5,
  800: #f3f3f3,
  900: #f1f1f1,
  A100: #addb96,
  A200: #addb96,
  A400: #addb96,
  A700: #addb96,

  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #addb96,
    A200: #addb96,
    A400: #addb96,
    A700: #addb96,
  )
);

$light-green-primary: mat-palette($green-primary-palette);
$light-green-accent: mat-palette($green-accent-palette, A200, A100, A400);
$light-green-warn: mat-palette($mat-red);

$light-green-theme: mat-light-theme($light-green-primary, $light-green-accent, $light-green-warn);
