@import 'src/app/shared/styles/mixins';


:host {
  @include host-container;
}

button {
  display: block;
  height: 20rem;
  width: 20rem;
  margin: 0 auto;
  border: .2rem solid;

  span {
    font-size: 5rem;
    text-transform: uppercase;
  }
}
